:root {
  --brand-primary: #44d688;
  --font-family-display: Monoton, Arial, sans-serif;
  --font-family-primary: "Rubik", Arial, sans-serif;
  --neon-effect: 0 0 0 transparent, 0 0 20px rgb(255, 0, 0),
    0 0 50px rgba(255, 0, 0, 0.5), 0 0 200px rgba(255, 0, 0, 0.5),
    0 0 250px rgba(255, 0, 0, 1), 0 0 300px rgba(255, 0, 0, 1),
    -250px -100px 100px rgba(255, 0, 0, 1);
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #000000;
  font-family: var(--font-family-primary);
  line-height: 1.42;
}

.container {
  padding: 1rem;
}

.hero {
  background-color: #000000;
  background: radial-gradient(ellipse at 33% 0%, #032756 0%, #110935 66%);
  background: radial-gradient(ellipse at 33% 0%, #333 0%, #000 66%);
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 320px;
}

.hero-block {
  padding: 60px 0;
  text-align: center;
}

.hero-title {
  animation: neon-blink 5s infinite alternate;
  background-image: linear-gradient(
    transparent 0%,
    transparent 50%,
    #000 53%,
    transparent 56%,
    transparent 100%
  );
  background-repeat: repeat-y;
  background-position: 0 100%;
  background-size: 82% 50%;
  color: #ff8888;
  font-family: var(--font-family-display);
  font-size: 32px;
  font-weight: normal;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-left: 2em;
  text-align: left;
  text-shadow: var(--neon-effect);
  text-transform: uppercase;
  transform: skew(0, -12deg) rotateZ(5deg);
  white-space: nowrap;
}

@media (min-width: 992px) {
  .hero-title {
    font-size: 86px;
    margin-bottom: 100px;
    margin-left: 1.5em;
  }
}

.hero-title strong {
  display: block;
  font-weight: normal;
  text-indent: -1.66em;
}

.button {
  text-decoration: none;
}

.button--primary {
  background-color: var(--brand-primary);
  border-color: transparent;
  color: #000;
  font-family: var(--font-family-primary);
  font-weight: bold;
  padding: 20px 30px;
  transition: transform 0.2s;
}

.button--primary:active {
  outline: 0;
  transform: scale(0.95);
}

.gallery {
  list-style: none;
  padding: 0;
  width: 100%;
}

.gallery-item {
  margin-bottom: 20px;
}

.card {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

.card-block {
  padding: 20px;
}

.card-block > *:last-child {
  margin-bottom: 0;
}

.card-block--primary,
.card-block--secondary {
  background-color: rgba(51, 51, 51, 0.4);
}

.card-block--primary {
  flex: 1;
}

.card-block--secondary {
  align-items: center;
  display: flex;
  min-width: 100%;
}

.card-block--secondary .button {
  min-width: 100%;
}

@media (min-width: 992px) {
  .card-block--secondary,
  .card-block--secondary .button {
    min-width: unset;
  }
}

.card-element--date {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: var(--font-family-primary);
  line-height: 1.3;
  min-width: 75px;
  text-align: center;
  text-transform: uppercase;
}

.card-element-text--highlight {
  font-size: 32px;
}

.card-element-text {
  font-size: 16px;
}

.card-title,
.card-subtitle {
  text-align: left;
}

.card-title {
  color: #ffffff;
  font-family: var(--font-family-primary);
  font-weight: bold;
  margin: 0;
  margin-bottom: 1.3em;
}

.card-subtitle {
  color: #aaa;
}

.card-title + .card-subtitle {
  margin-top: -0.6em;
}

@keyframes neon-blink {
  44% {
    opacity: 1;
  }

  45% {
    opacity: 0.7;
  }

  46% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  99% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.title-wrapper {
  padding: 2vw;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #fb4264;
  font-size: 3rem;
  line-height: 3rem;
  text-shadow: 0 0 3rem #f40a35;
}

.flux {
  font-family: neon;
  color: #426dfb;
  font-size: 3rem;
  line-height: 3rem;
  text-shadow: 0 0 3rem #2356ff;
}

@media (min-width: 992px) {
  .flux,
  .neon {
    font-size: 9vw;
    line-height: 9vw;
  }
  .flux {
    text-shadow: 0 0 9vw #2356ff;
  }
  .neon {
    text-shadow: 0 0 9vw #f40a35;
  }
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

.badge {
  background-color: red;
  padding: 2px 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-left: 6px;
}
