@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #091E42;
}
canvas {
  display: block;
}

.wish {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.happy,
.name {
  text-transform: uppercase;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 6px 0;
}

.happy {
  letter-spacing: 6px;
  margin-bottom: -10px;
}
.name {
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 3px;
  background-color: #FFAB00;
  color: #000;
}
.bday {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  margin: 0;
}
